//!––––––––––––––––––––––––––––––––––––––––––––––––––----------------------
// This controls generation of your CSS.
//
// Follow the instructions below.

//!––––––––––––––––––––––––––––––––––––––––––––––––––----------------------
// Set your colors
$color-primary: #000;
$background-primary: #fff;
$color-secondary: #f00;
$background-secondary: #00f;
$color-tertiary: #ff0;
$background-tertiary: #0ff;
$a11y_level: 'AAA';

//!––––––––––––––––––––––––––––––––––––––––––––––––––----------------------
// Set your font stack(s)
// Don't forget corresponding links in index.html
$font-primary: sans-serif;
$font-secondary: sans-serif;

//!––––––––––––––––––––––––––––––––––––––––––––––––––----------------------
// REQUIRED! Skip to the next step, below.
@import 'element/Base';

//!––––––––––––––––––––––––––––––––––––––––––––––––––----------------------
// Include the elements you want.
// @import 'element/Blockquote';
// @import 'element/Button';
// @import 'element/Code';
// @import 'element/Divider';
// @import 'element/Form';
// @import 'element/Grid';
// @import 'element/Image';
// @import 'element/Link';
// @import 'element/List';
// @import 'element/Spacing';
// @import 'element/Table';
// @import 'element/Utility';

//!––––––––––––––––––––––––––––––––––––––––––––––––––----------------------
// Build and include your components. These are YOUR classes, etc.
// @import 'components/{my_component_name_here}';
